# Auto detect text files and perform LF normalization
* text=auto

# Standard to msysgit
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain

# Shell scripts and Maven Wrapper always LF
*.sh text eol=lf
mvnw text eol=lf

# Windows scripts always CRLF
*.cmd text eol=crlf
*.bat text eol=crlf
mvnw.cmd text eol=crlf
